/* TABLE 1 */

.table-widget {
    border-radius: 1rem;
    background: $tbteamtable-background;
    padding: 1.5rem;
    border: 2px solid $tbteamgray-background;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: left;
    overflow-x: auto;
    table {
        max-width: fit-content;
        border-collapse: collapse;
    }
    caption {
        font-size: 1.12rem;
        font-weight: 700;
        text-align: left;
        margin: 0.5rem 0px;
    }
    th {
        padding: 1.25rem 1rem;
        font-size: 0.875rem;
        color: $tbteamgray;
    }
    thead {
        border-top: 2px solid $tbteamgray-background;
    }
    tfoot {
        margin-top: 1rem;
        border-top: 2px solid $tbteamgray-background;
    }
    td {
        padding: 0.5rem 1rem;
        vertical-align: middle;
    }
    tbody {
        tr {
            cursor: pointer;
            &:nth-child(odd) {
                background: $tbteamodd-row;
            }
            &:hover {
                background: #e2ecff;
            }
        }
    }
}

.table-row-count {
    font-size: 0.8rem;
    font-weight: 700;
    background: $tbteamgray-mid;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    margin-left: 1rem;
    border-radius: 0.5rem;
}

.team-member-profile {
    display: flex;
    gap: 1rem;
    align-items: center;
    img {
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
        object-fit: cover;
    }
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.profile-info__name {
    font-weight: 700;
    white-space: nowrap;
}

.status {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: 700;
}

.status--active {
    background: #EAFEF3;
    color: #2ECC71;
}

.status--inactive {
    background: #fff6e5;
    color: #F4BD50;
}

.status--offline {
    background: $tbteamgray-mid;
    color: $tbteamgray;
}

.tags {
    display: flex;
    gap: 0.5rem;
}

.tag {
    padding: 0.5rem;
    background: $tbteamgray-mid;
    border-radius: 0.5rem;
    font-weight: 700;
    &::first-letter {
        text-transform: uppercase;
    }
}

.tag--design {
    background: #f4efff;
    color: #9A84DA;
}

.tag--QA {
    color: #DF8FA8;
    background: #fbdde7;
}

.tag--dev {
    background: #eaf2ff;
    color: #739FDC;
}

.tag--marketing {
    background: #fff6e5;
    color: #F4BD50;
}

.table-widget {
    min-height: 5rem;
}

.pagination {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    a {
        display: block;
        color: $tbteamprimary;
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: 700;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        &:hover,
        &.active {
            background: $tbteamodd-row;
            text-decoration: underline;
        }
    }
}


/* TABLE 1 END */